.footer a:hover {
    color: #81c784;
}

.footer a {
    color: #4caf50;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer {
    width: 100vw;
    text-align: center;
    padding: 15px;
    background-color: #4a154b;
    color: white;
    font-size: 0.9rem;
}