body {
    /* margin: 0;
    padding: 0; */
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to bottom, #ede7f6, #ffffff);
/*    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logout-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 400px;
    width: 100%;
    border: 2px solid #9575cd;
   
}

.logout-box h1 {
    font-size: 2rem;
    color: #4a154b;
  
    margin-bottom: 15px;
}

.logout-box p {
    font-size: 1.2rem;
    color: #333;
 
    margin-bottom: 20px;
}

.logout-button {
    background-color: #9575cd;

    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logout-button:hover {
    background-color: #6a1b9a;
    
    box-shadow: 0 4px 15px rgba(106, 27, 154, 0.4);
}